
.prep-week-container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 100%;
}
.scenario {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  background-color: #333841;
  text-align: center;
  gap: 2em;
}

.scenario-text {
  font-size: 3em;
  width: 90%;
  color: magenta;
}

.prep-week-intro {
  font-size: 3em;
  width: 80%;
  color: springgreen;
  margin-top: 2em;
}

.image-container {
  display: flex;
  justify-content: space-between;
}

.comp-pic, .tekken, .fork {
  height: 100%;
  width: 100%;
  margin-top: 2em;
}



