.week-3-intro {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 0, 212);
  margin-top: 1em;
}

.typed {
  position: relative;
  font-size: 2em;
  width: 50ch;
  color: #00dffc;
  overflow: hidden;
  background: linear-gradient(#00dffc 0 0) 0 50%/150% 95%,
    linear-gradient(#00dffc 0 0) 0 0 /100% 100%;
  -webkit-background-clip: padding-box, text;
  background-clip: padding-box, text;
  background-repeat: no-repeat;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  animation: t 1s forwards, b 1s 0.8s forwards;
}

@keyframes t {
  from {
    background-size: 0 95%, 0 100%;
  }
}
@keyframes b {
  100% {
    background-position: -200% 50%, 0 0;
  }
}

/* .scenario {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  align-items: center;
  background-color: #333841;
  color: turquoise;
  padding: 20px;
  border-radius: 10px;
} */

/* 
.scenario-text {
  font-size: 3em;
  width: 50ch;
  color: magenta;
  text-align: center;
} */

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 16px;
  margin-top: 10px;
  color: #ff6600;
}
