/* Set the background color and padding for the body */
body {
  background-color: #f5f5f5;
  padding: 2em;
}

/* Set the font size, color, alignment, and top margin for the .week-2-intro element */
.week-2-intro {
  font-size: 3em;
  color: #333841;
  text-align: center;
  margin-top: 0;
}

/* Set the width, maximum width, and top margin for the .home-img element */
.home-img {
  width: 100%;
  max-width: 700px;
  margin-top: 2em;
}

/* Set the display, flex direction, alignment, gap, and width for the .week-2-container element */
.week-2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 100%;
}

/* Set the display, flex direction, max width, alignment, background color, color, padding, and border radius for the .scenario element */
.scenario {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  align-items: center;
  background-color: #333841;
  color: turquoise;
  text-align: left; 
  padding: 20px;
  border-radius: 10px;
}

/* Set the font size, width, color, and text alignment for the .scenario-text element */
.scenario-text {
  font-size: 1.75em;
  width: 50ch;
  color: magenta;
  text-align: left; 
}

/* Set the width and height for the .home-figure element */
.home-figure {
  width: 100%;
  height: 100%;
}

/* Set the color and font size for the .home-figcaption element */
.home-figcaption {
  color: white;
  font-size: 1.2em;
}

