.game-over-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  align-self: center;
}

.game-over-title {
  color: orangered;
  font-size: 6em;
  margin-bottom: 1em;
}

.game-over-text {
  color: azure;
  font-size: 4em;
}
