.navbar {
  display: flex;
  justify-content: space-between;
  height: 5em;
  background-image: url('https://your-image-url.com/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  border-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;
  width: 6em;
}

.navbar-dark .navbar-brand {
  color: #944dff;

}

.navbar-text {
  font-size: 2em;
}

.nav-title {
  align-self: center;
  color: orange;

}

.player {
  display: flex;
  min-width: 120px;
  gap: 0.5em;
}

.hearts {
  color: red;
  display: flex;
  justify-content: space-evenly;
  gap: 0.4em;
  align-items: center;
}

