.navbar {
  display: flex;
  justify-content: space-between;
  height: 5em;
}

.navbar-brand {
  border: solid;
  border-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;
  width: 6em;
}

.navbar-text {
  font-size: 2em;
}

.nav-title {
  align-self: center;
}

.player {
  display: flex;
  min-width: 1em;
  gap: 0.5em;
}

.hearts {
  color: red;
  display: flex;
  justify-content: space-evenly;
  gap: 0.4em;
  align-items: center;
}